/* Define color variables */
:root {
  /* Blue */
  --twitter-blue: #1DA1F2;
  --twitter-blue-dark: #1A94D6; /* Darker shade of blue */
    
  /* White */
  --twitter-white: #FFFFFF;
  --twitter-white-dark: #E6E6E6; /* Light gray as darker white might be counterintuitive */
    
  /* Gray */
  --twitter-gray-light: #F5F5F5;
  --twitter-gray-light-dark: #E1E1E1; /* Darker shade of light gray */
  --twitter-gray-medium: #657786;
  --twitter-gray-medium-dark: #556070; /* Darker shade of medium gray */
  --twitter-gray-dark: #14171A;
  --twitter-gray-dark-dark: #0A0C0D; /* Darker shade of dark gray */
    
  /* Accent Colors */
  
  --twitter-green: #17BF63; /* Twitter green */
  --twitter-green-dark: #148A50; /* Darker shade of green */
  --twitter-green-light: #65ED97; /* Lighter shade of green */
  --twitter-red: #E0245E;
  --twitter-red-dark: #B81E4A; /* Darker shade of red */
  --twitter-orange: #FF991F;
  --twitter-orange-dark: #E07D1A; /* Darker shade of orange */
}


  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }



/* Use Roboto font */
body {
    font-family: 'Roboto', sans-serif;
}
  
/* Example usage */
body {
    background-color: var(--twitter-white);
    color: var(--twitter-gray-medium);
}
  
.button {
    background-color: var(--twitter-blue);
    color: var(--twitter-white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
  
.link {
    color: var(--twitter-blue);
    text-decoration: none;
}
  
.link:hover {
    text-decoration: underline;
}
  

#app-container {
  width: 100%;
  height: 100vh;
    
   
  display: flex;
  justify-content: center;
  align-content: center;
}



#switch-form-button {
  border: none;
  background-color: transparent;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: var(--twitter-blue);
  text-decoration: underline;
  cursor: pointer;
}



#undefined {
	background-color: red;
}


.custom-alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--twitter-green-light);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-content: center;

}
.custom-alert p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: var(--twitter-green);
  align-self: center;
}

.custom-alert img {
height: 45px;

}


@media only screen and (max-width: 600px) {
  /* CSS rules for smartphones */
}

/* For portrait tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  /* CSS rules for portrait tablets */
}

/* For landscape tablets and medium devices */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for landscape tablets and medium devices */
}

/* For desktops */
@media only screen and (min-width: 1025px) {
  /* CSS rules for desktops */
}

/* For large desktops */
@media only screen and (min-width: 1200px) {
  /* CSS rules for large desktops */
}